.personalDataContainer {
  box-sizing: border-box;
  margin: 15px 15px 15px 15%;
  width: 82%;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(227, 227, 227, 1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(227, 227, 227, 1);
  box-shadow: 0px 0px 20px 0px rgba(227, 227, 227, 1);
  background-color: $background-sections;
  padding-top: 10px;
  z-index: -1;
  .button {
    @include button;
    width: 120px;
    color: $button-font-color;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 550px;
  }
  .personalHeader {
    border-bottom: 1px solid $border-color;

    .mainHeader {
      @include mainHeader;
    }
  }
  .personalDataContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $border-color;
    padding-top: 12px;
    padding-bottom: 12px;

    &Row {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 40%;
      margin: 15px 0;

      &Label {
        width: 40%;
        font-size: $personal-header;
        color: $main-header-color;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
      .formInput {
        border-radius: 5px;
        border-color: none;
        height: 35px;
        width: 500px;
        padding-left: 20px;
        font-family: $form-Input;
        font-size: 14px;
        font-weight: solid;
        color: $main-header-color;
        border: 1px solid;
        cursor: text;
        opacity: 0.9;
      }
    }
  }
}
