/*colors*/

$orange: #ffa200;
$sidebar-background: #191919;
$sidebar-font-color: #a9a9a9;
$sidebar-hover-background: #353535;
$sidebar-hover-color: #fff;
$sidebar-icon-hover-color: #fff;
$top-menu-color: #fff;
$icon-color: #a9a9a9;
$main-header-color: #bababa;
$border-color: #e3e3e3;
$body-background: #e3e7e6;
$logo-item-color: #fff;
$navbar-topbarIcon: #a9a9a9;
$filter-for-icons-hover: invert(100%) sepia(9%) saturate(108%)
  hue-rotate(195deg) brightness(114%) contrast(84%);
$filter-for-icons: invert(53%) sepia(5%) saturate(8%) hue-rotate(320deg)
  brightness(100%) contrast(89%);
$filter-for-wallet: invert(2%) sepia(5%) saturate(132%) hue-rotate(314deg)
  brightness(98%) contrast(83%);
$filter-carrot-orange: invert(71%) sepia(25%) saturate(6461%) hue-rotate(341deg)
  brightness(94%) contrast(104%);
$filter-white: invert(100%) sepia(0%) saturate(5953%) hue-rotate(276deg)
  brightness(123%) contrast(113%);
$background-sections: #fff;
$button-font-color: #fff;
$link-colors: #56819f;

/*font-sizes*/
$main-header-font: 15px;
$header-two-font: 13px;
$personal-header: 14px;

/*other variables -icon -font-family*/

$logo-font-family: cursive;
$chart-font-family: "Roboto" sans-serif;
$form-Input: "Roboto" sans-serif;
